<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">뒤로가기</a>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>생성날짜</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userPw}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.createdAt}"></td>
                <td><form th:action="@{/delete/{id}(id=${user.id})}" method="post"><button type="submit">삭제</button></form></td>
            </tr>
        </tbody>
    </table>
</body>
</html>